.content {
  padding-right: 19em;
  padding-left: 19em;
  padding-top: 1em;
  font-size: large;
  text-align: justify;
  line-height: 1.5;
}

body {
  font-family: "Podkova", Courier, monospace;
  background-color: #fef9f8;
}

::selection {
  /* color: white;
  background-color: black; */
  color: black;
  background: #fbc5c5;
}

.assemble-pic {
  text-align: left;
  padding-top: 1em;
}

img {
  width: 100%;
}

@font-face {
  font-family: "apple_garamondregular";
  src: url("/font/applegaramond-webfont.woff2") format("woff2"),
    url("/font/applegaramond-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  box-shadow: inset 0 0 0 0 #b1bce6;
  color: black;
  text-decoration: none;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
a:hover {
  color: white;
  box-shadow: inset 200px 0 0 0 #b1bce6;
}
